@tailwind base;
@tailwind components;
@tailwind utilities;
/*
@layer components {
  .btn-primary {
    @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
  }

/* added from App.vue */
/* DaisyUI Styling */
/*  .menu-button {
    @apply fixed top-4 right-4 btn btn-primary;
  }
.modal-overlay {
  @apply fixed inset-0 flex justify-center items-center bg-black bg-opacity-75;
}

@layer modal {
  .modal-content {
    @apply bg-white p-6 rounded-lg shadow-lg w-96;
  }
  .modal-section {
    @apply mb-4;
  }
  input.muted {
    @apply text-gray-400;
  }
  input.dark {
    @apply text-gray-800;
  }
}*/
/* end of addition */

/* Global Styles */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
#app {
  height: 100%;
  width: 100%;
  background-color: #1f1f1f;
}
